.blur{
    filter:blur(2px)
}


.footer-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .fa-facebook-square {
    color: white;
    margin-right: 10px;
    font-size: 40px;
  }
  .fa-instagram {
    color: white;
    margin-right: 10px;
    font-size: 40px;
  }
  .fa-linkedin {
    color: white;
    margin-right: 10px;
    font-size: 40px;
  }
  .fa-twitter {
    color: white;
    margin-right: 10px;
    font-size: 40px;
  }
  .fa-youtube {
    color: white;
    margin-right: 10px;
    font-size: 40px;
  }
  